oai/src/main/webapp/static/style.xsl
xmlui/src/main/webapp/i18n/messages.xml
xmlui/src/main/webapp/themes/UFAL/images/favicon.ico
xmlui/src/main/webapp/themes/UFAL/images/lindat/clarin-logo.png
xmlui/src/main/webapp/themes/UFAL/lib/html/about.html
xmlui/src/main/webapp/themes/UFAL/lib/html/faq.html
xmlui/src/main/webapp/themes/UFAL/lib/html/metadata.html
xmlui/src/main/webapp/themes/UFAL/lib/xsl/core/navigation.xsl
xmlui/src/main/webapp/themes/UFALHome/images/favicon.ico
xmlui/src/main/webapp/themes/UFALHome/lib/xsl/page-structure.xsl
xmlui/src/main/webapp/themes/UFAL/lib/js/dragndrop.js
xmlui/src/main/webapp/themes/UFAL/lib/js/fileupload.js
xmlui/src/main/webapp/themes/UFAL/lib/bootstrap/js/ufal.min.js
xmlui/src/main/webapp/themes/UFAL/lib/xsl/lindat/header.xsl
xmlui/src/main/webapp/themes/UFAL/lib/xsl/lindat/footer.xsl
xmlui/src/main/java/org/dspace/app/xmlui/aspect/statistics/Navigation.java
xmlui/src/main/java/cz/cuni/mff/ufal/dspace/app/xmlui/aspect/administrative/ControlPanelSignedLicenses.java
xmlui/src/main/webapp/themes/UFAL/lib/html/item-lifecycle.html
xmlui/src/main/java/cz/cuni/mff/ufal/DSpaceXmluiApi.java
xmlui/src/main/webapp/themes/UFAL/lib/xsl/core/page-structure.xsl
